*.aux
*.bbl
*.blg
*.cb
*.cb2
*.log
*.dvi
*.out
*.tcp
*.ps
*.Rhistory
*.xls
*.xlsx
*.csv
*.pyc
*.DS_Store
*.Rapp.history
*.lb
*.fdb_latexmk
*.bib.bak
*.synctex.gz
*.toc
*.snm
*.nav
*.fls
*.o
*.so
*.dll
inst/doc
